body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(220, 234, 236);
    margin: 0;
    padding: 0%;
}


h1 {
    color: rgb(45, 57, 72);
    /* text-align: center; */
    text-align: center;
}

h2 {
    color: rgb(45, 57, 72);
    /* text-align: center; */
    text-align: center;
}

